body
{
	background-color: #FFFFEA;
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: verdana, arial, helvetica, sans-serif;
	overflow: hidden;
}

div#wait
{
  background-color: red;
  position: absolute;
  top: 0px;
  font-weight: bold;
  right: 0%;
}

div#BookReader
{
     left:10px;
     right:10px;
     top:69px;
     bottom:30px;
}

#BRtoolbar
{
  background-color: #575757;
  top: -40px;
}

#BRtoolbar .label
{
  color:#FFFFFF;
  font-family: Verdana, Arial, San Serif;
}

#BRbookcover {
	background-image: url(../../BookReader/images/back_pages.png);
}

.BRleafEdgeR {
	background: transparent url(../../BookReader/images/back_pages.png) repeat scroll 0% 0%;
}

.BRleafEdgeL {
	background: transparent url(../../BookReader/images/back_pages.png) repeat scroll 0% 0%;
}

.BRleafEdgeTmp {
	background: transparent url(../../BookReader/images/back_pages.png) repeat scroll 0% 0%;
}

#BRgutter {
	background: transparent url(../../BookReader/images/booksplit.png) repeat scroll 0% 0%;
}

.BRicon {
	background-image: url(../../BookReader/images/BRicons.png);
}

a.logo {
 background: url("http://www.regione.toscana.it/Toscana-theme/images/custom/logo_footer.png") repeat scroll 0 0 / 105px auto rgba(255, 255, 255, 1);
    width: 106px;
}

a.popOff {
    background-image: url(../../BookReader/images/BRicons.png);
}

.BRfliparea {
    background-image: url(../../BookReader/images/transparent.png);
}

.BRfloat a.floatShut {
	background-image:url("../../BookReader/images/icon_close-pop.png");
}

.BRfloatMeta p.moreInfo span {
    background: url("../../BookReader/images/icon_OL-logo-xs.png") no-repeat;
}

.BRfloatFoot a.problem {
    background: url("../../BookReader/images/icon_alert-xs.png") no-repeat;
}

#BRpager .ui-slider-handle {
    background: url(../../BookReader/images/slider.png);
}

div#pager {
    background: url(../../BookReader/images/slider.png);
}

div.chapter {
    background: transparent url(../../BookReader/images/marker_chap-off.png) no-repeat;
}

div.chapter.front {
    background: transparent url(../../BookReader/images/marker_chap-on.png) no-repeat;
}

div.search {
    background-image: url(../../BookReader/images/marker_srch-off.png);
}

div.search div.pointer {
    background: transparent url(../images/marker_srch-on.png) no-repeat;
}

div.searchChap {
    background-image: url(../../BookReader/images/marker_srchchap-off.png);
}

div.searchChap.front {
    background-image: url(../../BookReader/images/marker_srchchap-on.png);
}

div.search.front {
    background: transparent url(../../BookReader/images/marker_srch-on.png) no-repeat;
}

div#BRzoombtn {
    background: url("../../BookReader/images/icon_zoomer.png");
}

.BRprogressbar {
    background-image: url("../../BookReader/images/progressbar.gif");
}

.BRup {
    background-image: url("../../BookReader/images/nav_control-up.png");
}

.BRdn {
    background-image: url("../../BookReader/images/nav_control-dn.png");
}

a.BRblack
{
  color:#FFFFFF;
  font-family: Verdana, Arial, San Serif;
}
div#BRnav {
    bottom: -36;
}

div.header{
	display: none;
}
div.headerOld
{
	background-image: url(http://www.bncf.firenze.sbn.it/img/bg_header.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	border: 2px;
	float: left;
	min-height: 59px;
	width: 100%;
	height: auto !important;
	height: 59px;
}

div.footer {
    bottom: 0;
    height: 33px;
    left: 0;
    position: absolute;
    width: 100% !important;
}

table.footer td {
    font-size: 0.6em;
    text-align: center;
}

div.logo{
    float: left;
    padding-left: 0.5em;
}

div.head_text2{
    float: left;
}

div.logoHeader{
    float: left;
    font-size: 16px;
    padding-left: 100px;
    padding-top: 16px;
}

img.iconBook{
    height:59px;
}


.sidecol {
  position: absolute;
  width: 300px;
  left: -304px;
  background: #FFF;
  top: 0px;
  z-index:1000;
  height: 100%;
  border-left: 1px solid #545454;
  box-shadow: -1px 0 1px #888;
}

.sidecolStru {
  position: absolute;
  width: 300px;
  left: -304px;
  background: #FFF;
  top: 0px;
  z-index:1000;
  height: 100%;
  border-left: 1px solid #545454;
  box-shadow: -1px 0 1px #888;
}

.box 
{
	width: auto !important; /* no 100% in FF*/
	width: 100%;
	overflow: auto;
	margin: 0;
	padding-bottom: expression(this.scrollWidth > this.offsetWidth ? "1.33em" : "0em");
}

.cols-wrapper {

  color: #000000; 

  border-color: #b7b7b7; 

    height: 100%;

  margin: 0 -1px;
}

.hide-left .cols-wrapper {
  border-left: none;
  margin-left: 0;
}
.hide-right .cols-wrapper {
  border-right: none;
  margin-right: 0;
}
.hide-both .cols-wrapper {
  border-style: none none none none;
  margin: 0;
}

.cols-wrapper[class] {
  padding-bottom: 0.1px; /* [4] */
  overflow: hidden;
}

#columns {
  color: #000000; 
    height: 100%;
}

.show-all #columns {
  padding: 0 15em;																																					/* era 12 */
}

.hide-right #columns {
  padding: 0 0 0 15em;																																			/* era 12 */
}

a.logo{
#  display: none;
}

.BRicon.play {
  display: block;
}

.BRicon.read {
  display: none;
}

.BRicon.info {
  display: none;
}

.BRicon.full {
  display: none;
}

form#booksearch {
  display: none;
}
div.menu {
    color: #FFFFFF;
    font-size: 0.95em;
    height: auto !important;
    text-align: center;
}
.menu a.menu {
    background: url("../icon/bkg_menu.gif") no-repeat scroll right top transparent;
    display: inline-block;
    font-size: 0.95em;
    font-weight: bold;
    padding: 10px 10px 6px !important;
}
a.menu:link {
    background-color: #E6DDD3;
    color: #1E3D59;
    text-decoration: none;
}
a.menu:visited {
    background-color: #E6DDD3;
    color: #1E3D59;
    text-decoration: none;
}
a.menu:active {
    background-color: #9A9B9D;
    color: #FFFFFF;
    text-decoration: none;
}
a.menu:hover {
    background-color: #9A9B9D;
    color: #FFFFFF;
    text-decoration: none;
}
a#active {
    background-color: #9A9B9D;
    color: #FFFFFF;
    text-decoration: none;
}
p.menu {
    vertical-align: middle;
}

#BRreturn a {
    color: #FFFFFF;
}

div#BRnav {
    overflow: visible;
    position: absolute;
}
